@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  /* COLOR */
  --Purple: hsl(259, 100%, 65%);
  --Lightred: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Offwhite: hsl(0, 0%, 94%);
  --Lightgrey: hsl(0, 0%, 86%);
  --Smokeygrey: hsl(0, 1%, 44%);
  --Offblack: hsl(0, 0%, 8%);
  /* FONT */
  --Poppins: "Poppins", sans-serif;
  --InputFontSize: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Poppins);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Lightgrey);
}

main {
  background-color: white;
  width: 90%;
  /* max-width: 21.4375rem; */
  padding: 3.25rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1.5625rem 1.5625rem 4.6875rem 1.5625rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 1.1875rem -0.375rem rgba(0, 0, 0, 1);
}

/* INPUT & BUTTON AREA */

.entire-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.daywrapper,
.monthwrapper,
.yearwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: var(--Smokeygrey);
  font-size: 0.6875rem;
  letter-spacing: 0.125rem;
}

.day-input-field,
.month-input-field,
.year-input-field {
  border-radius: 0.5rem;
  padding: 0.625rem 0rem 0.625rem 0.9375rem;
  border: 0.0625rem solid var(--Lightgrey);
}

input:focus {
  outline: none;
  border: 0.0625rem solid var(--Purple);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.error-day,
.error-day-empty,
.error-month,
.error-month-empty,
.error-year,
.error-year-empty {
  color: var(--Lightred);
  font-weight: 800;
  font-style: italic;
  font-size: 0.625rem;
  display: none;
}

/* BUTTON AREA */
.image-and-line-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

hr {
  width: 100%;
  border: 0.0625rem solid var(--Lightgrey);
}
.purple-button {
  background-color: var(--Purple);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 1.125rem;
  cursor: pointer;
}

/* RESULT AREA */

.year-result-container {
  display: flex;
  justify-content: space-evenly;
}

.month-result-container {
  display: flex;
  justify-content: space-evenly;
}

.day-result-container {
  display: flex;
  justify-content: space-evenly;
}

h1,
span {
  font-style: italic;
  font-weight: 800;
  font-size: 3.4375rem;
}

span {
  color: var(--Purple);
}

/* VIEWS FOR DESKTOP */
@media (width > 28.125rem) {
  .entire-input-wrapper {
    flex-direction: row;
  }

  .daywrapper,
  .monthwrapper,
  .yearwrapper {
    width: 32%;
  }

  .result-section {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (width < 56.25rem) {
  .result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (width < 23.375rem) {
  h1,
  span {
    font-size: 244%;
  }
}
